<h1><%= @stylist.name %></h1>
<br>
<p>Bio: <%= @stylist.bio %></p>
<br>
<p>Age:<%= @stylist.age %></p>
<br>
<p>Years of Practice:<%= @stylist.years_of_practice %></p>
<br>
<p>Licenses:<%= @stylist.licenses %></p>
<br>