<h1><%= @stylist.name %></h1>
<hr>
<br>
<p>Bio:
  <%= @stylist.bio %></p>
<br>
<p>Age:<%= @stylist.age %></p>
<br>
<p>Years of Practice:<%= @stylist.years_of_practice %></p>
<br>
<p>Licenses:<%= @stylist.licenses %></p>
<br>

<h2>Reviews</h2>

<% if @stylist.reviews.count >= 1 %>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Rating</th>
        <th>Review</th>
      </tr>
    </thead>

    <tbody>

      <% @stylist.reviews.each do |review| %>
        <tr>
          <td><%= review.client.name %></td>
          <td><%= review.rating %>/5</td>
          <td><%= review.description %></td>
        </tr>
    <% end %>
  </table>
  </tbody>
<% else %>
  <p>
    Be the first to leave a review!!</p>
<% end %>

<%= link_to "Edit Profile", "/stylists/#{@stylist.id}/edit"%>
