<h2>Edit Appointment Form</h2>
<hr>
<% if @errors %>
    <p style="color:red;">The following errors prevented the user from being created</p>
  <ul>
    <% @errors.each do |error| %>
      <li><p style="color:red"><%= error %></p></li>
  <% end %>
</ul>
<% end %>

<%= form_with model: @appointment do |f| %>
<%= f.label :appt %><br>
<%= f.datetime_field :appt %>
<br>
<% f.label :status %><br>
<% f.text_field :status , value: "Rescheduled" %>
<br>
<%= f.label :client_id %><br>
<%= f.collection_select :client_id, Client.all, :id, :name %>
<br>
<%= f.label :stylist_id %><br>
<%= f.collection_select :stylist_id, Stylist.all, :id, :name %>
<br>
<%= f.label :city_id %><br>
<%= f.collection_select :city_id, City.all, :id, :name %>
<br>
<%= f.label :neighborhood_id %><br>
<%= f.collection_select :neighborhood_id, Neighborhood.all, :id, :name %><br>
<br>
<%= f.submit "Edit Appointment" %>
<% end %>