<h2>New Review Form</h2>
<hr>
<% if @errors %>
    <p style="color:red;">The following errors prevented the user from being created</p>
  <ul>
    <% @errors.each do |error| %>
      <li><p style="color:red"><%= error %></p></li>
  <% end %>
</ul>
<% end %>

<%= form_with model: @review do |f| %>

<div class="form-group row">
<%= f.label :rating, class:"col-sm-2 col-form-label"%>
<div  class="col-2">
<%= f.number_field :rating, rows: 5, class:"form-control" %>
</div>
</div>

<div class="form-group row">
<%= f.label :description, class:"col-sm-2 col-form-label" %>
<div class="col-10">
<%= f.text_area :description, rows: 4, class:"form-control" %>

</div>
</div>

<%= f.label :stylist_id %><br>
<%= f.collection_select :stylist_id, Stylist.all, :id, :name %>
<br>
<%= f.label :client_id %><br>
<%= f.collection_select :client_id, Client.all, :id, :name %><br>
<br>
<%= f.submit "Submit Review", class:"btn btn-light btn-lg"%>
<% end %>
