<h1><%= @review.stylist.name %> Review From <%= @review.client.name %></h1>
<hr>
<br>
<h3>Rating: <%= @review.rating %> / 5</h3>
<h3>Review Details:</h3>
<p><%= @review.description %></p><br>
<br>
<%= link_to "Edit Review", "/reviews/#{@review.id}/edit"%>
