<!DOCTYPE html>
<html>
  <head>
    <title>Hairdo</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="d-flex flex-column">

    <%= render 'layouts/navigation' %>
    <%= flash[:notice] %>
    <%= yield %>
    <footer id="sticky-footer" class="py-4 bg-dark text-white">
      <div class="container text-center">
        <small>  <%= link_to "Index Page", stylists_path %>
          <%= link_to "Become a Stylist",  "/stylists/new" %>
          <%= link_to "All Clients", "/clients" %>
          <%= link_to "Stylist", "/stylists" %>
        </small>
      </div>
    </footer>
  </body>
